<nav class = " navBar navBar-expand-lg navBar-dark bg-dark " >
    <a href= "#"class =" navBar-brand " > Curso Gestor </a >

    <button  class = " navBar-toggler " type = " button " data-toggle = " collapse " data-target = " #navBarSupportedContent "
        aria-controls = " navBarSupportedContent " aria- extended = " false " aria-label = " Alternar navegação " >
        <span  class = " navBar-toggler-icon " > </span >
    </button >

    <div  class = " collapse navBar-collapse " id = " navBarSupportedContent " >
        <ul  class = " navBar-nav mr-auto ">
            <li  class = " nav-item ">
                <a herf= "#"class ="nav-link">Cursos</a >
            </li >
        </ul >
    </div >
</nav >